<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="OTeachingConnectionString" connectionString="Data Source=DESKTOP-MU42VMQ\SQLEXPRESS;Initial Catalog=OTeaching;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="OTeaching" connectionString="Data Source=DESKTOP-MU42VMQ\SQLEXPRESS;Initial Catalog=OTeaching;Integrated Security=True"/>
    <add name="OTeachingConnectionString2" connectionString="Data Source=DESKTOP-MU42VMQ\SQLEXPRESS;Initial Catalog=OTeaching;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    web.config değişikliklerinin açıklaması için http://go.microsoft.com/fwlink/?LinkId=235367 adresini inceleyin.

    Aşağıdaki öznitelikler <httpRuntime> etiket üzerinde ayarlanabilir.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>